.btn{
	background:#FFEA00;
	display:inline-block;
	padding:10px 30px;
	color:#fff;
}
.btn-green{
	background:#2AB5A3;
	display:inline-block;
	padding:10px 30px;
	color:#fff;
}
.btn-red{
	background:#F30105;
	display:inline-block;
	padding:10px 30px;
	color:#fff;
}
.btn-outline{
	background:none;
	border:1px solid #0A68D4;
}
.intro{
	font-size:1.2em;
}
.btn-blue{
	background:#032774;
	display:inline-block;
	padding:10px 30px;
	color:#fff;
}
